.artist-image {
  border-radius: 50%;
}

.artist-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.artist-card {
  width: 260px;
}

.genres {
  display: flex;
}

.artists-section {
  display: flex;
  justify-content: center;
  align-items: center;

}